html, body {
    background: #252C33;
    font-family: 'Lato', sans-serif;
    margin: 0px auto;
}
::selection{
  background: rgba(82,179,217,0.3);
  color: inherit;
}
#windowchat {
  width: 50%;
  height: 100%;
  float: left;
  display: inline-block;
  overflow-y: auto;
}
#search {
  width: 50%;
  height: 100%;
  float: right;
  display: inline-block;
  overflow-y: auto;
}
#searchbox {
  width: 90%;
  margin: 60px 4% 4% 4%;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: white;
  background-image: url("search.png");
  background-size: 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#searchResults {
  display: none;
}
#searchResults .notification {
  margin-top: 25px;
}
.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    background: rgba(27,35,42,0.9);
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.tittle {
    position: absolute;
    top: 3px;
    left: 110px;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 300;
    color: rgba(255,255,255,0.98);
    cursor: default;
}
.members {
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    cursor: default;
    word-spacing: 2px;
}
.searches {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-bottom: 15px;
}
.searches li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.date {
  position: relative;
  min-height: 7px;
  padding: 8px;
  border-radius: 100px;
  background: #2c3339;
  box-shadow: 0px 0px 2px rgba(255,255,255,.02), inset 0px 0px 1px rgba(27,35,42,0.1);
  line-height: 0px;
  transition: all .2s cubic-bezier(0.565, -0.260, 0.255, 1.410);
}
.date time{
  position: absolute;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.box {
  position: relative;
  background: #eef8ff;
  min-width: 50px;
  margin: 2% 2% 2% 8%;
  width: 80%;
  border-radius: 2px;
  box-shadow: -1px 2px 0px #c1cbcd;
}
.box time {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 10px 5px 5px;
  font-size: 0.85rem;
  color: rgba(0,0,0,.35);
}
.box .session {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 5px 5px 10px;
  font-size: 0.7rem;
  color: rgba(0,0,0,.35);
}
.box .user {
    position: absolute;
    font-size: 14px;
    margin: 0 0 2px 0;
    font-weight: 700;
    margin-top: -2px;
    margin-bottom: 5px;
    transition: all .2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.box p {
    position: relative;
    padding: 5px;
    margin-right: auto;
    font-size: 13px;
    color: #777;
    transition: all .2s ease;
    word-break: break-all;
}
.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 15px;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.other .msg {
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #c1cbcd;
}
.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #eef8ff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #c1cbcd;
}
.self:after {
    content: "";
    position: relative;
    display: inline-block;
    float: right;
    bottom: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #eef8ff;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0px 2px 0px #c1cbcd;
}
.msg {
    background: #eef8ff;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    word-break: break-all;
}
.msg .user {
    font-size: 14px;
    margin: 0 0 2px 0;
    font-weight: 700;
    margin-top: -2px;
    margin-bottom: 5px;
    transition: all .2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg .user .range.admin {
    display: inline-block;
    font-size: 10px;
    font-weight: 300;
    color: #6aea96;
    padding: 2px;
    border-radius: 3px;
    border: solid 1px #6aea96;
    background: rgba(255,255,255,0);
    margin-left: 5px;
}
.msg p {
    font-size: 13px;
    margin: 0 0 2px 0;
    color: #777;
    transition: all .2s ease;
}
.msg time {
    font-size: 0.7rem;
    color: rgba(0,0,0,.35);
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg time:before{
    color: #ddd;
    display: inline-block;
    margin-right: 4px;
}

input.textarea {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    z-index: 99;
    background: #fafafa;
    border: none;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
}
input.sendButton {
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 50px;
    z-index: 99;
}

.circle-button {
  background-color: #57bf7b;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 10%;
  top: 8px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px #555;
  color: #fff;
  font-size: 36px;
  line-height: 90%;
  text-align: center;
}
.circle-button:hover, .circle-button:focus {
  background-color: #27ae60;
}
a {
  text-decoration: none;
}
#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .40;
    -webkit-opacity: .4;
    -moz-opacity: .4;
    filter: alpha(opacity=40);
    z-index: 1000;
}
.modal-content {
    color: #666;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    display: none;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 30px;
    position: absolute;
    top: 45%;
    z-index: 1000;
}
#tempModalWindow{
    background-color: #252c33;
}
#tempModalWindow .tittle, #tempModalWindow .members {
  left: 25px;
}
#tempModalWindow .chat {
  margin-top: 20px;
  margin-bottom: 0;
}
#modal-background.active, .modal-content.active {
    display: block;
}
.inputUrl{
  color: #666;
  width: 100%;
}
#form textarea,
#form input,
.modal-content input {
	padding:4% 2%;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom:25px;
	width:90%;
}
.modal-content label {
	padding:4%;
}

.modal-content input#submit {
	width:40%;
  margin-left: 50%;
	cursor:pointer;
	margin-bottom:0px;
	color:#fff;
  background-color: #5bc0df;
  border-bottom:5px solid #46b8db;
}
#contact-form input#submit:hover,
#contact-form input#submit:focus,
.modal-content input#submit:hover,
.modal-content input#submit:focus {
  background-color: #85d0e7;
}
.notification {
    position: relative;
    display: inherit;
    text-align: center;
    margin-top: 100px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: rgba(253,253,253,0.25);
    background: rgba(234, 247, 255, 0.035);
    line-height: 30px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0px 1px 0px rgba(0,0,0,.05), 0px -1px 0px rgba(0,0,0,.05), inset 0px 1px 0px rgba(255,255,255,.02), inset 0px -1px 0px rgba(255,255,255,.02);
    text-shadow: 0px -1px 0px rgba(0,0,0,.1), 0px 1px 0px rgba(255,255,255,.05);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all .2s cubic-bezier(0.565, -0.260, 0.255, 1.410);
}
.notification time {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 11px;
    padding: 8px;
    border-radius: 100px;
    background: #252C33;
    box-shadow: 0px 0px 2px rgba(255,255,255,.02), inset 0px 0px 1px rgba(27,35,42,0.1);
    height: 1px;
    line-height: 0px;
    color: rgba(255,255,255,0.1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all .2s cubic-bezier(0.565, -0.260, 0.255, 1.410);
}
.notification .wtime {
  margin-top: 0;
}
#form {
    width:320px;
    margin:0 auto;
    background-color:#fff;
    border:2px solid #f3f3f3;
  	padding:50px;
    margin-top:20px;
}

#form label {
    display:block;
    margin-bottom:5px;
    font-weight:bold;
    text-transform: uppercase;
    font-size:12px;
    color:#555555;
}

#form input#submit {
	width:95%;
	cursor:pointer;
	margin-bottom:0px;
	color:#fff;
  background-color: #5bc0df;
  border-bottom:5px solid #46b8db;
}

#form p.copy {
	color:#ccc;
	margin-bottom:0px;
	font-size:12px;
	text-align: center;
}

#form p.copy a {
	color:#ccc;
	text-decoration: none;
	font-weight:bold;
}
.g-recaptcha{
  margin-bottom:25px;
}

@-webikt-keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #252C33;
  /*  box-shadow: inset 0px 50px 0px rgba(27,35,42,0.9), inset 0px -50px 0px #eee;*/
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2);
    border: none;
    border-radius: 100px;
    border: solid 3px #252C33;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.1);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(255,255,255,0.1);
}

::-webkit-scrollbar-button {
    display: block;
    height: 26px;
}
